    <!-- Page Content -->
    <div class="container" >

        <div class="row">
  
          <div class="col-lg-3">
  
            <h1 class="my-4">Shop Name</h1>
            <div class="list-group">
              <a  ng-repeat="category in product.list" href="#!/category/{{$index}}" class="list-group-item">{{category.name}}</a>
            </div>
  
          </div>
          <!-- /.col-lg-3 -->
  
          <div class="col-lg-9">
  
            <div class="row">
              <div class="col-md-4">
                <a href="" ng-click="product.changeSort('-price')">Price High to Low</a>
              </div>
              <div class="col-md-4">
                <a href="" ng-click="product.changeSort('price')">Price Low to High</a>
                </div>
              <div class="col-md-4">
                  <a href="" ng-click="product.search=4">Higher than 4+</a>
              </div>
            </div>
  
            <!-- <div class="row">
              <input type="text" ng-model="search">
            </div> -->
          
            <div class="row">
              <div class="col-lg-4 col-md-6 mb-4" ng-repeat="item in product.items|filter:product.search: product.rating| orderBy:product.sorttype">
                <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="#!/category/{{product.category}}/product/{{item.name}}">{{item.name}}</a>
                    </h4>
                    <h5>${{item.price}}</h5>
                    <p class="card-text">{{item.desc}}</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">
                      <span ng-if="item.rating>0">&#9733;</span><span ng-if="item.rating<=0">&#9734;</span>
                      <span ng-if="item.rating>1">&#9733;</span><span ng-if="item.rating<=1">&#9734;</span>
                      <span ng-if="item.rating>2">&#9733;</span><span ng-if="item.rating<=2">&#9734;</span>
                      <span ng-if="item.rating>3">&#9733;</span><span ng-if="item.rating<=3">&#9734;</span>
                      <span ng-if="item.rating>4">&#9733;</span><span ng-if="item.rating<=4">&#9734;</span>
                    </small>
                  </div>
                </div>
              </div>
  
             
  
            </div>
            <!-- /.row -->
  
          </div>
          <!-- /.col-lg-9 -->
  
        </div>
        <!-- /.row -->
  
      </div>
      <!-- /.container -->