<html  ng-app="demoApp">
    <head>
        <script src="angular.min.js"></script>
        <script src="app.js"></script>
        <style>
            .done{
                text-decoration: line-through;
            }
            </style>
    </head>
    <body>

        <div ng-controller="firstCtrl as first">
            <input type="text" ng-model="first.name">
            <h1 style="color:{{first.name}}">{{first.name}}</h1>
            <button ng-click="first.showLink()">show</button>
            <a ng-if="first.flag" ng-href="{{first.name}}">Link</a>
         </div>

         <div ng-controller="secondCtrl as second">
                <input type="text" ng-model="second.name">
                <button ng-click="second.addTask()">Add</button>
                <button ng-click="second.popTask()">pop</button>

                <input type="text" ng-model="search">
                <ol>
                   <li ng-class="{'done':task.status}" ng-click="second.checkTask(task.id)"
                    ng-repeat="task in second.tasks| filter:{name:search} | orderBy:'name':'desc'">{{task.name}} {{task.time | date:"dd MMM" }}
                       <button ng-click=second.delTask(task.id)>X</button>
                   </li> 
                </ol>

         </div>

        
    </body>
</html>